$danger-color: #ff9898;
$blue-color: #4da8da;

:root {
  font-family: sans-serif;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

%interactive-common {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.35em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

button {
  @extend .pointer;
  @extend %interactive-common;

  &:hover {
    filter: brightness(0.9);
  }
}

input[type="checkbox"] {
  @extend .pointer;

  appearance: none;

  width: 1.2em;
  height: 1.2em;
  border-radius: 4px;
  position: relative;
  vertical-align: middle;
  background-color: white;
  transition:
    background-color 0.2s,
    border-color 0.2s;

  label:has(&:not([disabled])) {
    @extend .pointer;
  }

  &:checked {
    background-color: $blue-color;

    // checkmark, created using transformations on white border
    &::after {
      content: "";
      position: absolute;
      top: 0.18em;
      left: 0.38em;
      width: 0.28em;
      height: 0.5em;
      border: solid white;
      border-width: 0 0.15em 0.15em 0;
      transform: rotate(45deg);
    }
  }
}

input[type="number"],
input[type="text"] {
  @extend %interactive-common;

  outline: none;
}

code {
  font-size: 1.1em;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.pad-top {
  margin-top: 5px;
}

.danger-fg {
  color: $danger-color;
}

.danger-bg {
  background-color: $danger-color;
}
